*{
    font-family: montserrat;
}
body{
    background-color: #F2F4F5;
    width: 375px;
    margin: 0 auto;
}
.TodoCounter {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 48px;
    font-family: montserrat;
    font-weight: 300;
    color:$black;
    span{
        font-family: montserrat;
        font-weight: bold;
    }
}
.TodoSearch{
    width: 279px;
    height: 64px;
    border-radius: 2px;
    border: 2px solid #1e1e1f;
    margin: 0 auto;
    display: block;
    font-size: 24px;
    text-align: center;
    font-family: Montserrat;
    &::placeholder{
        color: #a5a5a5;
        font-weight: 400;
        font-family: "Montserrat";
    }
    &:focus{
        outline-color: #61dafa;
    }
}
ul{
    width: 327px;
    margin: 0 auto;
    margin-top: 40px;
    padding-inline-start: 0px;
    .TodoItem{
        width: 307px;
        height: 100px;
        margin-top: 20px;
        background-color: #FAFAFA;
        border-radius: 2px;
        box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
        display: flex;
        justify-content: space-between;
        padding-left: 20px;
        align-items: center;
        .TodoItem-p{
            font-size: 18px;
            color: #1e1e1f;
            font-family: montserrat;
            &--complete{
                text-decoration: line-through;
            }
        }
        .Icon{
            cursor:pointer;
            display:flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            font-size: 24px;
            font-weight: bold;
            &-delete{
                position: relative;
                top: -50px;
                right: 12px;
                &:hover{
                    color:red;
                }
            }
            &-check--active{
                color: #4caf50;
            }
        }
    }
}