li{
    list-style: none;
}

.TodoItem{
    width: 550px;
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    border-radius: 10px;
}

 .TodoItem-p{
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

 .TodoItem-p--complete{
     text-decoration: line-through;
}  

.Icon{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}

.Icon--check--active{
    color: rgb(107, 173, 107);
}

.Icon-delete{
    position: relative;   
}

.Icon-delete:hover{
    color: rgb(241, 143, 143);
}