////////////////////////////////////////////////////////////
//fonts
////////////////////////////////////////////////////////////
/*Montserrat-Bold*/
@font-face{
	font-family: 'Montserrat-Bold';
	src: url('../fonts/montserrat.bold.otf') format('truetype');
	font-weight: 700;
	
}
/*Montserrat-regular*/
@font-face{
	font-family: 'Montserrat-Regular';
	src: url('../fonts/montserrat.regular (1).otf') format('truetype');
	font-weight: 400;
	
}