.CreateTodoButton {
  background-color: #61dafa;
  box-shadow: 0 5px 25px rgba(97, 218, 250, .5);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 50px;
  position: fixed;
  bottom: 24px;
  right: 24px;
  font-weight: 700;
  color: #fafafa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  width: 64px;
  transform: rotate(0);
  transition: .3s ease
}

.CreateTodoButton:hover {
  transform: rotate(224deg)
}