////////////////////////////////////////////////////////////
//variables
////////////////////////////////////////////////////////////

//Colors
$black: #000000;
$blue: #018fef;

////////////////////////////////////////////////////////////
//Fonts
$Monserrat: "Monserrat";
$Monserrat-Bold: "Monserrat-Bold";
$Monserrat-Regular: "Monserrat-Regular";

////////////////////////////////////////////////////////////
//Media Queries
$desktop_1920: 1921px !default;
$desktop_1640: 1641px !default;
$desktop_1440: 1441px !default;
$desktop_1366: 1367px !default;
$desktop_1280: 1281px !default;
$desktop_1024: 1025px !default;
$tablet: 769px !default;
$mobile: 571px !default;
$mobilex: 376px !default;