.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 /* A quí está mi código CSS */
/* CSS para pantallas móviles (menos de 768px) */
.container1 {
  display: flex;
  justify-content: center;
}


.darkmode{
  /* background-color: black; */
}

/* CSS para pantallas más pequeñas(768px o menos) */

@media (max-width: 768px) {
  .container1  {
    flex-direction: column;
  }
}
