html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Dosis", sans-serif;
}

.body-wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
  margin: 0 3rem;
}
