:root {
  --darker-blue: #146c78;
  --lighter-blue: #0e91a1;
  --light-green: #7dce94;
  --yelowed-white: #efede7;
  --white: #ffffff;
  --black: #252525;
}

.principal-container {
  padding: 1rem;
  background-color: var(--light-green);
  border: 1px solid var(--black);
  max-height: 80vh;
}

.secondary-container {
  background-color: var(--yelowed-white);
  padding: 1rem;
  gap: 2rem;
  height: 100%;
  overflow: auto;
  justify-content: space-evenly;
}

.principal-container,
.secondary-container {
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  align-items: center;
  width: 100%;
}

@media (max-width: 768px) {
  .secondary-container {
  }
}
@media (max-width: 1024px) {
  .secondary-container {
  }
}
@media (max-width: 1200px) {
  .secondary-container {
  }
}
@media (min-width: 480px) {
  .secondary-container {
  }
}
