.App {
  place-items: center;
  text-align: center;
  display: grid;
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}

.button{
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  padding: 8px;
  border-radius: 50%;
  border: 2px solid #000;
  transition: all .3s ease-in;
  background-color: #c0bdbd;
}

.button:hover{
  box-shadow: 0 0 10px 0 black;
  cursor: pointer;
  border: 2px solid gray;
}

.button-svg{
  width: 100%;
}
