footer{
    display: flex;
    width: 100%;
    min-height: 150px;
    background: black;
}

footer section{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

footer .left ul{
    font-size: 16px;
    font-weight: 500;
    line-height: 1rem;
    list-style: none;
}

.left li{
    margin: 10px 0;
}     

.left a{
    color: white;
    text-decoration: none;
}
