body {
  margin: 0;
  padding: 0;
  background: #d0d0d1;
  color: #1E1E1F;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  
}

#root {
  margin: 0 24px ;
  position: relative;
  min-height: 100vh;
  
}