body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f3e1f7;
  height: 100%;
  background-image: url(https://i.pinimg.com/736x/0b/e7/c3/0be7c304a8d2eb4f3eb51f1fe31c345e.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
