.TodoCounter{
    font-size:24px;
    text-align:center;
    margin:0;
    padding:70px;
    font-weight: normal;
}

.TodoCounter span{
    font-weight: bold;
}


/*Pantalla movil*/
@media (max-width: 768px) {
    .TodoCounter{
        padding:50px;
    }
  }