:root {
  --darker-blue: #146c78;
  --lighter-blue: #0e91a1;
  --light-green: #7dce94;
  --yelowed-white: #efede7;
  --white: #ffffff;
  --black: #252525;
}

.CreateTodoInput {
  outline: none;
  border: 1px solid var(--black);
  border-radius: 12px 0 0 12px;
  height: 4rem;
  width: 85%;
  padding: 1rem;
}

.CreateTodoInput:focus {
  border: 1px solid var(--lighter-blue);
}
